body{
  font: 16px Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:black;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#FF851B;
}

/* Header **/
header{
  background:#85144B;
  color:#FF851B;
  padding-top:30px;
  min-height:70px;
  border-bottom:#FF851B 3px solid;
}

header a{
  color:#FF851B;
  text-decoration:none;
  text-transform: uppercase;
  font-size:15px;
}

header li{
  display:inline;
  padding: 0 20px 0 20px;
}

header #brand{
  float:left;
}

header #brand h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header a:hover{
  color:#FF851B;
  font-weight:bold;
}



/* jambo */
#jambo{
  min-height:400px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#jambo h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#jambo p{
  font-size:20px;
}
/*contact form*/
#contactus{
  padding:10px 0 10px 0;
  color:#FF851B;
  background:#85144B;
  border-bottom: 3px #FF851B;
}
#contactus input[type=text], select, textarea {
  width: 100%;
  padding: 7px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#contactus input[type=submit] {
  background-color: black;
  color:#FF851B
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#FF851B;
  background:#85144B;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:130px;
}

/* Footer */

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#000000;
  text-align: center;
}

/* Media Querie */
@media(max-width: 768px){
  header #brand,
  header nav,
  header nav li,
  #contactus,
  #contactus input,select, textarea,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #jambo h1{
    margin-top:40px;
  }

}
